
<span class="label can-work">Can Work</span>
<span class="label cannot-work-weak">Prefers Off</span>
<span class="label cannot-work-strong">Strongly Prefers Off</span>
<span class="label requested-off">Specifically Requested Off</span>
<br>
<br>
<br>


<%= month_calendar do |date| %>
    <strong><%= date.strftime("%e") %></strong>
    <% @firm.employees.each do |employee| %>

      <div>
        <span class="label <%= employee.get_pref_class(date) %>"><%= employee.first_name %> <%= employee.last_name %></span>
      </div>
    <%	end %>

<% end %>


