<table>
  <tr>
    <td>Phone Number:</td><td><%=	@firm.phone_number %></td>
  </tr>
  <tr>
    <td>Address:</td><td><%=	@firm.address %></td>
  </tr>
  <tr>
    <td></td><td><%=@firm.city %>, <%=	@firm.state %> <%=	@firm.zip_code %></td>
  </tr>
</table>