<p id="notice"><%= notice %></p>

<h1>Firms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <!-- perfectly appropriate, good use of a table -->
  <tbody>
    <% @firms.each do |firm| %>
      <tr>
        <td><%= firm.name %></td>
        <td><%= link_to 'Show', firm %></td>
        <td><%= link_to 'Edit', edit_firm_path(firm) %></td>
        <td><%= link_to 'Destroy', firm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Firm', new_firm_path %>
